body {
    margin: 0px;
    padding: 0px;
}
.section1{
    height: 600px;
    width: 100%;
    background-image: url(../images/homebckgrnd.jpg);
    position: relative;
    background-size: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
}
.logo{
    height: 56px;
    width: 11%;
    float: left;
   margin-left: 65px;
    border: 2px solid white;
    border-radius: 12%;
 margin-top: 13px;
}
.logo a{
  text-decoration: none;
    color: white;
}
.nav {
    height: 95px;
    width: 82%;
    float: left;   
}

.nav ul li{
    display: inline-block;
   padding: 10px 8px;  
}

.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    background-color: white;
    color: black;
}

.nav i{
 padding-left: 21px;
    color: white;
    font-size: 14px;
}
.content{
     height: 120px;
    width: 100%;
    position: absolute;
}
.content h3{
    color: white;
    text-align: center;
    margin-top: 185px;
    margin-bottom: 10px;
    font-family: Courgette;
    font-size: 28px;
    
}
.h{
  color: white;
    text-align: center; 
    font-size: 55px;
    margin: 0px
     font-family: Nunito-Bold;
}
button{
    height: 37px;
        width:105px;
    background-color: white;
    color:red;
    padding: 10px;
    border: 0px;
    border-radius: 11%;
    margin-left: 550px;
    margin-top: 38px;
}
button:hover{
    background-color: red;
    color: white;
}
.section2{
    height: 500px;
    width: 100%;
    background-image: url(../images/gback.PNG);
}
.left{
   height: 500px;
   width: 65%;
   float: left; 
    margin-left: 37px;
    margin-top: 10px;
}

.col{
    color: red;
    margin-left: 250px;
    text-align: center;
    font-family: Courgette;
}
h1{
    font-size: 33px;
    margin: 0px 241px 0px;
    font-family: Nunito-Bold;
   
}
.left p{
    margin-left: 151px;
    color: gray;
    font-family: Nunito-Light; 
}
.right{
   height: 320px;
/*    width: 33%;*/
    width: 25%;
   float: left;
    background-image: url(../images/homeupbox.jpg);
    border-radius: 2%;
    background-size: 100% 100%;
    margin-top: 96px;
    background-repeat: no-repeat;
    transition-duration: 1s;
}
.right:hover{
    box-shadow: 5px 8px 5px 3px gray;
}
.section3{
    height: 432px;
    width: 100%;
    
}


.gal1{
   height: 188px;
/*    height: 330px;*/
    width: 27%;
    float: left;
    background-image: url(../images/homegal3.jpg);
    margin: 53px; 
        margin-left: 91px;
        margin-right: 10px;
    border-radius: 2%;
    background-size: 100% 100%;
    position: relative;
    transition-duration: 1s;
}

.h3{
    margin-top: 216px;
    margin-left: 10px;
    position: absolute;
    color: black;
   font-family:Nunito-Light ;
    font-size: 25px;
}
a{
    text-decoration: none;

}
.gal1 i{
    color: black;
}

.gal2{
    height: 188px;
    width: 27%;
   float: left;
    background-image: url(../images/homegal1.jpg);
    border-radius: 2%;
    margin: 53px 10px;
    background-size: 100% 100%;
}
.gal3{
    height: 188px;
    width: 27%;
   float: left;
    background-image: url(../images/homegal3.jpg);
    border-radius: 2%;
    background-size: 100% 100%;
    margin: 53px 10px 30px;
}
.section4{
    height: 520px;
    width: 99%;
     background-image: url(../images/gback.PNG);
    border-radius: 1%;
    margin:0px 7px;
    
}
.booking{
   height: 450px;
    width: 60%;
   float: left;  
}
.leftform{
    height: 200px;
    width: 40%;
    float: left;
    margin-left: 89px;
    margin-top: 40px;
}

.rightform{
    height: 200px;
    width: 40%;
    float: left;
     margin-top: 40px;
}
input[type=text]{
    height: 17px;
    width: 196px;
    padding: 10px;
    border-radius: 8%;
    border: 1px solid lightgray;

}
input[type=email]{
    height: 17px;
    width: 196px;
    padding: 10px;
    border-radius: 8%;
    border: 1px solid lightgray;

}
input[type=date]{
    height: 17px;
    width: 196px;
    padding: 10px;
    border-radius: 8%;
    border: 1px solid lightgray;

}
input[type=time]{
     height: 17px;
    width: 196px;
    padding: 10px;
    border-radius: 8%;
    border: 1px solid lightgray;

}
label{
    margin-bottom: 5px;
    color: gray;
}
.butn{
    height: 38px;
    width: 123px;
  background-color: black;
    color: white;
    border-radius: 12%;
margin-top: 42px;
    margin-left: 275px;
    border: 0px;
}
.butn:hover{
    background-color: white;
    color: black;
   
}

.book{
    margin-top: 0px;
}
.booking h3{
  margin-top: 86px;
    color: red;
    margin-left: 283px; 
    font-family: Courgette;
}
.room{
   height: 322px;
   
    width: 25%;
   float: left;
    background-image: url(../images/homedownbox.jpg);
    border-radius: 2%;
    background-size: 100% 100%;
    margin: 87px 10px;
    transition-duration: 1s;
}
.room:hover{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,.5),
         0px 6px 20px 0px rgba(0,0,0,.7);
}
@font-face{
   font-family: Courgette; 
       src: url("../fonts/Courgette-Regular.ttf");
}
@font-face{
   font-family: Nunito-Bold; 
       src: url("../fonts/nunito/Nunito-Bold.ttf");
}
@font-face{
   font-family: Nunito-Light; 
       src: url("../fonts/nunito/Nunito-Light.ttf");
}

/*End index file*/
/*Start gallary css*/


body {
    margin: 0px;
    padding: 0px;
}
.section-1{
    height: 500px;
    width: 100%;
    background-image: url(../images/galfooter3.jpg);
    position: relative;
    background-size: 100% 100%;
}
.overlay1{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
}
.navbar1{
    height: 95px;
    width: 100%; 
     background-color: rgba(0,0,0,.2);
    position: absolute;
}
.logo1{
    height: 56px;
    width: 11%;
    float: left;
   margin-left: 65px;
    border: 2px solid white;
    border-radius: 12%;
 margin-top: 13px;
}
.logo1 a{
  text-decoration: none;
/*  padding:8px 0px ;*/
    color: white;
}

.nav1 {
    height: 95px;
    width: 82%;
    float: left;
    cursor: pointer;
    
}

.nav1 ul li{
    display: inline-block;
   padding: 10px 16px;
    
   
}
.nav1 ul li a{
    text-decoration: none;
    color: white;
     
}
.nav1 ul li a:hover{
    background-color: white;
    color: black;
}
.nav1 i{
 padding-left: 21px;
    color: white;
    font-size: 14px;
}

/* .content1{
     height: 120px;
    width: 100%;
    position: absolute;
} */
/* .content1 h2{
    text-align: center;
    color: white;
    margin-top: 270px;
} */
.section-2{
    height: 100px;
    width: 100%;
}
.midnav{
    height: 100px;
    width: 100%;
}
.midnav ul li{
    display: inline-block;
      padding: 22px 15px;
    
}
.midnav ul li a{
  text-decoration: none;
   color: black;
}
.section-3{
    height: 700px;
    width: 100%;
    
}
.Gall1{
     height: 200px;
    width: 100%;
    margin-bottom: 2%;
}
.gall1{
   height: 200px;
    width: 30%;
    margin-left:2%;
    margin-top: 2%;
    float: left;
/*    background-color: red;*/
/*    border-radius: 2%;*/
    
}
img{
  border-radius: 2%;
 transition-duration: 1s;
}
img:hover{
    box-shadow: box-shadow: 0px 4px 8px 0px rgba(0,0,0,.5),
         0px 6px 20px 0px rgba(0,0,0,.7);
}
.gall2{
   height: 200px;
    width: 30%;
    float: left; 
    margin-left: 2%;
/*    background-color: blue;*/
    margin-top: 2%;
         border-radius: 2%;
/*    margin-right: 3%;*/
}
.gall3{
   height: 200px;
    width: 30%;
    float: left; 
/*    background-color: green;*/
    margin-left: 2%;
    margin-top: 2%;
     border-radius: 2%;
    
}
.Gall2{
     height: 200px;
    width: 100%;
    margin-bottom: 2%;
}

.box-1{
   height: 200px;
    width: 30%;
    float: left; 
/*    background-color: red;*/
     margin: 2% 2% 0% 2%;

}

.box-2{
   height: 200px;
    width: 30%;
    float: left; 
/*    background-color: blue;*/
    margin-top: 2%;
     margin-right: 2%;

}
.box-3{
   height: 200px;
    width: 30%;
    float: left; 
/*    background-color: green;*/
margin-top: 2%;
    
}

Gall3{
     height: 200px;
    width: 100%;  
}
.box1{
   height: 200px;
    width: 30%;
    float: left; 
    background-color: red;
margin: 2% 2% 0% 2%;

}
.box2{
   height: 200px;
    width: 30%;
    float: left; 
/*    background-color: blue;*/
    margin-top: 2%;
         margin-right: 2%;
}
.box3{
   height: 200px;
    width: 30%;
    float: left; 
/*    background-color: green;*/
margin-top: 2%;}

.section-4{
    height: 453px;
    width: 100%;
    background-color: black;
}
.contact{
    height: 453px;
    width: 33%;
/*    background-color: black;*/
    float: left;
}
i{
    color: gray;
    margin: 15px;
/*    margin-left: 39px;*/
}
a{
    color: gray;
}
.twitter{
  height: 453px;
    width: 32%;
/*    background-color: black;*/
    float: left;  
}
.gallery{
    height: 453px;
    width: 35%;
    float: left; 
/*    background-color: black;*/
}
.pic1{
    width:100%;
/*    background-color: blue;*/
}
 .g{
   height: 83px;
     width:20%;
    float:left ;
     margin: 0% 2% 2% 0%;
     transition-duration: 1s;
    
}
.g:hover{
    border-radius: 50%;
}
.pic2{
    width:100%;
/*    background-color: red;*/
}
.pic3{

    width:100%;
/*    background-color: blue;*/
}
.footer{
    height: 50px;
    width: 100%;
    background-color: #111111;
}
.ico{
     height: 50px;
      width: 40%;
    float: left;
}
.copy{
   height: 50px;
      width: 60%;
    float: left;  
}
/*end of gallery*/
/*start of about*/
.section-one-home{
    height: 600px;
    width: 100%;
    background-image: url(../images/galbox8.jpg);
    position: relative;
    background-size: 100% 100%;
}
.section-one-about{
    height: 600px;
    width: 100%;
    background-image: url(../images/galbox7.jpg);
    position: relative;
    background-size: 100% 100%;
}
.section-two{
     height: 325px;
    width: 100%;
    background-image: url(../images/gback.PNG);
    
}
.middle{
     height: 325px;
    width: 90%;
    margin-left: 90px;
     
}
.video{
  height: 450px;
    width: 100%; 
    background-color: gray;
}
iframe{
   margin: 28px 0px; 
}